.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  padding-top: -100px;
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: aqua;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #555;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #555;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #fff;
  }
}

body {
  min-height: 110vh;
  background-image: url(./img/Rainbow-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#head-1 {
  font-family: sans-serif;
  font-size: 70px;
  position: relative;
  transform: translateY(0);
  color: white;
  animation: slideUp 2s ease forwards;
  opacity: 0;
  margin-top: 120px;
}

#head-2 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  transform: translateY(0);
  color: white;
  animation: slideUp 2s ease forwards 1s;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
